@import "tailwindcss";
.container {
  max-width: 1332px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.navlink {
  color: rgb(186, 186, 186);
}

.navlink.active {
  color: white;
}
.hero-title{
  line-height: 1.2;
}
